body{
  counter-reset:fish;
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
  overflow:hidden;
}
/*hide checkbox*/
input{position:fixed; left:-10px; top:-10px;}

h1, .score{margin:0; text-align:center; font-size:24px;}

/*play area*/
.wrapper{  
  height:500px;
  background: -webkit-linear-gradient(top, hsla(210,70%,80%,1) 0%,hsla(210,50%,100%,1) 100%);
  position:relative;
  cursor:crosshair;
}
/*count dead birds*/
.input-circle:checked{
  counter-increment:fish;
}
/*print to screen dead birds*/
.score:after{
  content: " " counter(animals) " Fish";
}

.input-circle ~ .fish{
  opacity:0;
  transition:5s  ;
  animation: move 15s infinite alternate;
}

.input-circle1:not(:checked) ~ .fish
{
  opacity:1; 
}

.input-circle1:checked ~ .fish span
{
  display:block;
}

.fish{   
  position:absolute;
  left:40%;  
  cursor:crosshair;
}

.fish>span{
  display:none;position:absolute; z-index:2; left:-250%;bottom:-50%;  
  background-color:white; border:solid 2px #000; width:200px; height:100px; padding:10px; border-radius:10%;
}
.fish>span:before{
   content:"I'm a fish! Learn more about me later!"; color:black; font-size:18px; font-weight:bold;
}

.fish{bottom:50px;
  animation-delay: -2s!important;
  transform:scale(0.9);
}

@keyframes move{
0%{left:0%;}
20%{left:20%; }
40%{left:30%;}
60%{left:80%;}
80%{left:60%;}
100%{left:30%; }
}

/* Game Over screen - THIS IS WHERE YOU CHANGE GAME TIMER */

.gameover{
  position:fixed; z-index:100000; left:0; top:0; bottom:0; right:0; background-color:rgba(0,0,0,0.8);
  animation:gameover 10s linear forwards;
  font-size:64px; color:white; font-weight:bold; text-align:center; 
  text-indent:0;  
  line-height:500px;
}

@keyframes gameover{
0%{left:-5000px;bottom:100%;}
97%{left:-5000px;bottom:100%;}
100%{ left:0px;}
}


/*------------UNSURE IF I NEED THIS------------------------------------------ body of the 'fish'
*/

/*.fish{
  background:black;
  border-radius: 50% 50% 20% 20%;
  color:white;
  line-height:20px;
  letter-spacing: 2px;
  font-size:0.8em;
  text-align:center;
  position:absolute;
 
  margin-top:-20px; margin-left:-10px;
  width:15px; height:15px;
  z-index:999;
}
*/