body{
  counter-reset:fish;
  -webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
  overflow:hidden;
}
/*hide checkbox*/
input{position:fixed; left:-99px; top:-99px;}

h1, .score {margin:0; text-align:center; font-size:24px;}

/*play area*/
.wrapper{  
  height:500px;
  background: -webkit-linear-gradient(top, hsla(210,70%,80%,1) 0%,hsla(210,50%,100%,1) 100%);
  position:relative;
  cursor:crosshair;
}
/*count clicked fish*/

.input-circle:checked{
  counter-increment:fish;
}
/*print to screen clicked fish*/

.score:after{
  content: " " counter(fish) " Fish";
}

/* Change time after 'move' for fish speed */

.input-circle ~ .fish1, .fish2{
  opacity:0;
  transition:5s;
  animation: move 5s infinite alternate;
}

/* For each new fish add a new input-circle# and the appropriate class name */

.input-circle1:not(:checked) ~ .fish1, 
.input-circle2:not(:checked) ~ .fish2
{
  opacity:1; 
}

.input-circle1:checked ~ .fish1 span,
.input-circle2:checked ~ .fish2 span
{
  display:block;
}

/* Not sure how but this controls movement. Don't mess with it too much */

.fish1, .fish2{   
  position:absolute;
  left:40%;  
  cursor:crosshair;
}

/* Formatting for text box */

.fish1>span, .fish2>span{
  display:none;position:relative; z-index:2; left: 0%;bottom:-15%;  
  background-color:white; border:solid 2px #000; width:200px; height:20px; padding:10px; border-radius:10%;
}

/* Dialog */

.fish1>span:before{
   content:"I'm a trout I think!"; color:black; font-size:18px; font-weight:bold;
}
.fish2>span:before{
   content:"Clown fish?"; color:black; font-size:18px; font-weight:bold;
}

/* Combined with movement pattern, use delay/transform to create randomness */

.fish1 {bottom:180px;
  animation-delay: -2s!important;
  transform:scale(0.9);
}

.fish2 {bottom:10px;
  animation-delay: -4s!important;
  transform:scale(0.8);
}

/* Movement pattern */

@keyframes move{
0%{left:10%;}
20%{left:40%; }
40%{left:30%;}
60%{left:80%;}
80%{left:60%;}
100%{left:50%; }
}

/* Game Over screen - THIS IS WHERE YOU CHANGE GAME TIMER 'after gameover' */

.gameover{
  position:fixed; z-index:100000; left:0; top:0; bottom:0; right:0; background-color:rgba(0,0,0,0.8);
  animation:gameover 30s linear forwards;
  font-size:64px; color:white; font-weight:bold; text-align:center; 
  text-indent:0;  
  line-height:500px;
}

@keyframes gameover{
0%{left:-5000px;bottom:100%;}
97%{left:-5000px;bottom:100%;}
100%{ left:0px;}
}